@model ICollection<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
}

<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Usuario">Usuário</option>
                <option value="Livro">Livro</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table > 
            <thead>
                <tr><th><a href="/Emprestimo/Edicao">Id</a></th>
                <th><a href="/Emprestimo/Edicao">Usuario</a></th>
                <th><a href="/Emprestimo/Edicao">Emprestimo</a></th>
                <th><a href="/Emprestimo/Edicao">Data de devolução</a></th>
                <th><a href="/Emprestimo/Edicao">Livro</a></th>
                <th><a href="/Emprestimo/Edicao">Autor</a></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Emprestimo e in Model)
                {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.NomeUsuario</td>
                    <td>@e.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                    <td>@e.DataDevolucao.ToString("dd/MM/yyyy")</td>
                    <td>@e.Livro.Titulo</td>
                    <td>@e.Livro.Autor</td>
                    <td><a href="/Emprestimo/Edicao/@e.Id">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Navegação de página exemplo">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item"><a class="page-link" href="#">7</a></li>
    <li class="page-item"><a class="page-link" href="#">8</a></li>
    <li class="page-item"><a class="page-link" href="#">9</a></li>
    <li class="page-item"><a class="page-link" href="#">10</a></li>
    <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
  </ul>
</nav>